*{
    padding: 0px;
    margin: 0px;
}
body {
    background: #FFFFFF;
    color: #000000;
    font-family: Lato, sans-serif;
}
.header{
    background-color: #4682B4;
    text-align: center;
    border: 2px solid #566573;
    margin-top: 30px;
    padding: 5px; 
    border-radius: 10px 10px 0px 0px;
}
h3{
    text-align: left;
}
#save{
    color: #000000;
    border: 2px solid #000000;  
}
.miLista{
    border: 2px solid #566573;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    padding: 0px;
}
.miLista li{ 
    color: black;
    list-style: none;
    font-size: 18px;
    text-indent: 10px;
    padding: 10px 0px 10px 0px;
}
.miLista input[type=checkbox]
{
    transform: scale(1.20);
}
.miLista li:hover {
  background: #ddd;
}
.action{
    float: right;
    position: relative;
    bottom: 5px;
}
.action:hover{
    background: #4682B4;
}
.menu{
    display: none;
    float: right;
    position: fixed;
    right: 30.70%;
    padding: 3px;
    color: white;
    background-color: #4682B4;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #566573;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
}